{% extends '::base_admin.html.twig' %}
{% block title %}Edit category{% endblock %}

{% form_theme edit_form ':Form:editFields.html.twig' %}
{% form_theme delete_form ':Form:editFields.html.twig' %}

{% block last_stylesheet %}
    <link href='{{ asset('includes/admin/inspinia/css/plugins/datapicker/datepicker3.css') }}' rel='stylesheet'>
    <link href='{{ asset('includes/admin/inspinia/css/plugins/daterangepicker/daterangepicker-bs3.css') }}' rel='stylesheet'>
    <link href='{{ asset('includes/admin/inspinia/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}' rel='stylesheet'>
    <link href='{{ asset('includes/admin/inspinia/css/plugins/cropper/cropper.min.css') }}'
{% endblock %}

{% block breadcrumbs %}
    <div class="row wrapper border-bottom white-bg page-heading ng-scope">
        <div class="col-lg-10">
            <h2>{{ 'Categories'|trans }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_default_index') }}">{{ 'Home'|trans }}</a>
                </li>
                <li class="active">
                    <strong>{{ 'Edit category'|trans }}</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block body -%}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        {{ form(edit_form, {attr: {class: "form-horizontal form-label-left input_mask"}}) }}
                        {{ form(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block last_javascript %}
        {% for elem in edit_form %}
            {% if checkbox_active is not defined and 'checkbox' in elem.vars['block_prefixes'] %}
                {% set checkbox_active = 'true' %}
                <link href='{{ asset('includes/admin/inspinia/css/plugins/switchery/switchery.css') }}' rel='stylesheet'>
            {% endif %}
            {% if file_active is not defined and 'file' in  elem.vars['block_prefixes'] %}
                {% set file_active = 'true' %}
                <link href='{{ asset('includes/admin/inspinia/css/upload_button.css') }}' rel='stylesheet'>
            {% endif %}
        {% endfor %}
        <script type='text/javascript' src='{{ asset('includes/admin/inspinia/js/plugins/cropper/cropper.min.js') }}'></script>
        {#script for crop photo#}
        <script type="text/javascript" src="{{ asset('includes/admin/inspinia/js/plugins/cropper/crop_for_admin.js') }}"></script>
    {% endblock %}
